
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
# Ignore tout le contenu du dossier uploads
/public/assets/images/uploads/*

# Mais garde le dossier uploads lui-même
!/public/assets/images/uploads/.gitkeep
/public/bundles/
/var/
/vendor/
/instructions.md
###< symfony/framework-bundle ###
