<footer class="uk-section uk-section-small uk-text-center uk-light" style="background: white; color: #666; font-size: 0.75rem; font-weight: 300;">
	<p style="margin: 0; line-height: 1.6;">
		© Robin Godde — All rights reserved<br>
		/ dev by Pierre-Yves Donzé
	</p>
</footer>
